@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Gestão de Inventário</h1>
    <p>Escolha uma das opções abaixo para começar:</p>
    <ul>
        <li><a href="@Url.Action("Index", "Produtos")">Gerir Produtos</a></li>
        <li><a href="@Url.Action("Index", "Categorias")">Gerir Categorias</a></li>
        <li><a href="@Url.Action("Index", "MovimentacoesStock")">Gerir Movimentações de Stock</a></li>
        <li><a href="@Url.Action("Index", "Relatorios")">Ver Relatórios</a></li>
    </ul>
</div>
