@model GestaoInventario.Models.MovimentacaoStock

@{
    ViewData["Title"] = "Eliminar Movimentação de Stock";
    Layout = "_Layout";
}

<h1>Eliminar Movimentação de Stock</h1>

<h3>Tem certeza que deseja eliminar esta Movimentação de Stock?</h3>
<div>
    <h4>MovimentacaoStock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Produto
        </dt>
        <dd class="col-sm-10">
            @Model.Produto.Nome
        </dd>
        <dt class="col-sm-2">
            Quantidade
        </dt>
        <dd class="col-sm-10">
            @Model.Quantidade
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Model.Data.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            É Entrada?
        </dt>
        <dd class="col-sm-10">
            @(Model.IsEntrada ? "Sim" : "Não")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
    </form>
</div>
