@{
    ViewData["Title"] = "Criar Nova Categoria";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancelar</button>
</form>
