@model GestaoInventario.Models.RelatorioViewModel

@{
    Layout = "_Layout";
}

<h1>@Model.Titulo</h1>

<table class="table">
    <thead>
        <tr>
            @foreach (var header in Model.Cabecalhos)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var linha in Model.Linhas)
        {
            <tr>
                @foreach (var coluna in linha)
                {
                    <td>@coluna</td>
                }
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
</div>
