@{
    Layout = "_Layout";
}

<h1>Relat贸rios</h1>

<p>
    <a class="btn btn-primary" asp-controller="Relatorios" asp-action="Detalhes" asp-route-id="1">Relat贸rio de Vendas</a> |
    <a class="btn btn-primary" asp-controller="Relatorios" asp-action="Detalhes" asp-route-id="2">Relat贸rio de Stock</a> |
    <a class="btn btn-primary" asp-controller="Relatorios" asp-action="Detalhes" asp-route-id="3">Relat贸rio de Compras</a>
</p>
