@model GestaoInventario.Models.Produto

@{
    Layout = "_Layout";
}

<h1>Eliminar Produto</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Tem certeza que deseja eliminar este produto?</h4>
        <dl class="row">
            <dt class="col-sm-3">
                Nome
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-3">
                Preço
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt class="col-sm-3">
                Quantidade
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
            <dt class="col-sm-3">
                Categoria
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>

        <div class="mt-2">
            <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
        </div>
    </div>
</div>
