
@model GestaoInventario.Models.Produto

@{
    Layout = "_Layout";
}

<h1>Eliminar Produto</h1>

<h3>Tem a certeza que deseja eliminar este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Model.Nome
        </dd>
        <dt class = "col-sm-2">
            Preço
        </dt>
        <dd class = "col-sm-10">
            @Model.Preco
        </dd>
        <dt class = "col-sm-2">
            Quantidade
        </dt>
        <dd class = "col-sm-10">
            @Model.Quantidade
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Model.Categoria.Nome
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
